In [2]:
import pandas as pd

In [3]:
def pandas_df(csv):
    df = pd.read_csv(r"../../Resources/Cleaned/"+csv+".csv")
    return df

def df_to_csv(df, filename):
    df.to_csv("../../Resources/Cleaned/"+filename+".csv", index=False)

In [4]:
cosmos_df = pandas_df("cosmos_paragraphs")
into_df = pandas_df("into_thin_air_paragraphs")
tom_sawyer_df = pandas_df("tom_sawyer_paragraphs")
para_1984_df = pandas_df("1984_paragraphs")

In [7]:
para_1984_df

[1984]

In [38]:
tom_sawyer_df

          Title                                               Text
0    Tom Sawyer  "What's gone with that boy, I wonder? You TOM!...
1    Tom Sawyer  The old lady pulled her spectacles down and lo...
2    Tom Sawyer  "Well, I lay if I get hold of you I'll --"She ...
3    Tom Sawyer  "I never did see the beat of that boy!"She wen...
4    Tom Sawyer  "Y-o-u-u TOM!"There was a slight noise behind ...
..          ...                                                ...
616  Tom Sawyer  Judge Thatcher hoped to see Tom a great lawyer...
617  Tom Sawyer  Huck Finn's wealth and the fact that he was no...
618  Tom Sawyer  He bravely bore his miseries three weeks, and ...
619  Tom Sawyer  "Well, I'll go back to the widder for a month ...
620  Tom Sawyer  Most of the characters that perform in this bo...

[621 rows x 2 columns]

In [39]:
not_de_corpus_df = pd.concat([cosmos_df, into_df, tom_sawyer_df, para_1984_df], ignore_index=True)
not_de_corpus_df["Is_Dying_Earth"] = 0

In [40]:
not_de_corpus_df

,Title,Text,Is_Dying_Earth
0,Cosmos,The Shores of the Cosmic Ocean The first men t...,0
1,Cosmos,"The known is finite, the unknown in finite; in...",0
2,Cosmos,The Cosmos is all that is or ever was or ever ...,0
3,Cosmos,The size and age of the Cosmos are beyond ordi...,0
4,Cosmos,Those explorations required skepticism a nd im...,0
...,...,...,...
4035,1984,It would have been quite impossible to render ...,0
4036,1984,A full translation could only be an ideologica...,0
4037,1984,"A good deal of the literature of the past was,...",0
4038,1984,"Various writers, such as Shakespeare, Milton, ...",0
4039,1984,End,0

In [ ]:
df_to_csv(not_de_corpus_df, "not_dying_earth_corpus")